.consultation-infos {
    width: 400px;
    background-color: white;
    padding: 16px;
    border-radius: 5px;
    min-height: 550px;
    max-height: 550px;
}

section {
    display: flex;
}

.section-2 {
    width: 60%;
    //max-width: 650px;
    padding: 16px;
    border-radius: 5px;
    border-top-width: 10px;
    min-height: 550px;
    max-height: 550px;
}

.sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

input {
    margin-bottom: 16px;
}

mat-label {
    font-size: 12px;
    font-weight: bold;
}

textarea {
    width: 457px;
    height: 430px;
    background: #222f3e;
    color: white;
    resize: none;
    border-radius: 5px;
    border: none;
    padding: 16px;
}

.btn-section {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 0 0;

    button {
        width: 208px;
    }
}

.form-groupe {
    button {
        width: 208px;
        margin-bottom: 16px;
        color: #002d80;
    }
}