<div class="sections">
    <section>
        <div class="consultation-infos mat-elevation-z8 ">
            <div class="consultation-title">
                <h2>Consultation informations</h2>
            </div>
            <div>
                <hr>
            </div>
            <div class="consultation-information">
                <p><strong>Appointment Id : </strong>{{appointment!._id | uppercase}}</p>
            </div>
            <div class="consultation-information">
                <p><strong>Appointment Hour : </strong>{{ appointment!.appointment_hour }}</p>
            </div>
            <div class="consultation-information">
                <p><strong>User Code : </strong>{{ user!.user_code }}</p>
            </div>
            <div class="consultation-information">
                <p><strong>User Name : </strong> {{ user!.first_name +" "+ user!.last_name }}</p>
            </div>
            <div class="consultation-information">
                <p><strong>Patient Code : </strong> {{ patient!.patient_code | uppercase }}</p>
            </div>
            <div class="consultation-information">
                <p><strong>Patient Name : </strong>{{ patient!.first_name +" "+ patient!.last_name }}</p>
            </div>
            <div>
                <hr>
            </div>
            <div class="btns" style="display: none;">
                <button mat-raised-button color="primary" (click)="createConsultation()">Make</button>
            </div>
            <div class="advise">

            </div>
            <div class="txt">
                <p><strong>#NB: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

    </section>

    <div class="section-2 mat-elevation-z8">
        <form #patientCardForm="ngForm">

            <div class="inputs" id="print-section">
                <div class="inp">
                    <div class="form-group">
                        <mat-label>Temperature *</mat-label>
                        <input matInput placeholder="37&deg;C" required #temperature="ngModel"
                        name="temperature"
                            [(ngModel)]="patientCard.temperature" class="form-control">
                    </div>

                    <div class="form-group">
                        <mat-label>Blood Pressure *</mat-label>
                        <input matInput placeholder="115/75 mm Hg" required #blood_pressure="ngModel"
                        name="blood_pressure"
                            [(ngModel)]="patientCard.blood_pressure" class="form-control">
                    </div>

                    <div class="form-group">
                        <mat-label>Size</mat-label>
                        <input matInput placeholder="1.70 m" #size="ngModel" [(ngModel)]="patientCard.size"
                        name="size"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <mat-label>Weight</mat-label>
                        <input placeholder="65 kg" #weight="ngModel" [(ngModel)]="patientCard.weight"
                        name="weight"
                            class="form-control">
                    </div>

                    <div class="form-groupe">
                        <button mat-raised-button (click)="openDialog()" >
                            <mat-icon>bloodtype</mat-icon>
                            Examination
                        </button>
                    </div>

                    <div class="form-groupe">
                        <button mat-raised-button >
                            <mat-icon>medication</mat-icon>
                            Prescription
                        </button>
                    </div>

                    <div class="form-groupe">
                        <button mat-raised-button >
                            <mat-icon>folder_open</mat-icon>
                            Medical File
                        </button>
                    </div>
                </div>

                <div class="form-groupe">
                    <textarea class="tinymce-editor" placeholder="Diagnostic" #diagnostic="ngModel"
                       [(ngModel)]="patientCard.consultation_details"
                       name="diagnostic">
                    </textarea>
                </div>

            </div>

            <div class="btn-section center">
                <div>
                    <button type="submit" mat-raised-button color="primary" 
                    class="waves-effect waves-light btn"
                    (click)="onSubmit()"
                    [disabled]="!patientCardForm.form.valid">
                        Save
                    </button>
                </div>
                <div class="print-btn">
                    <button printSectionId="print-section" mat-raised-button color="g" ngxPrint
                        styleSheetFile="./print-style.css">Print</button>
                </div>
                <div>
                    <button type="reset" mat-raised-button color="warn" class="waves-effect waves-light btn">
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>