<section>
    <div class="card">
        <div class="card-body">
            <div class="card-img">
                <img src="../../../../assets/imgs/svg/Authentication-rafiki.svg" alt="">
            </div>
            <div class="card-action">
                <div>
                    <h1>Acces Rights</h1>
                </div>
                <div class="btn-div">
                    <button type="button" class="btn btn-primary" (click)="goToManageAcces()">Manage Acces</button>
                </div>
            </div>
        </div>
    </div>
</section>