//@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

section {
    padding: 0 7% 0 7%;
}

.tab {
    background: white;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
}

.sec-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-user {
    margin-left: 25px;
    padding: 3px;
}

.sec-2 {
    width: 100%;
}

table {
    width: 100%;
    overflow-x: hidden;
}

th {
    font-weight: bold;
    font-size: 16px;
    //background: #3f51b5;
}

.selecte-row:hover {
    border-color: black;
}