@import "~bootstrap-icons/font/bootstrap-icons.css";

section {
    background: transparent;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

.sec-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-user {
    margin-left: 25px;
    padding: 3px;
}

.sec-2 {
    //width: 600px;
    max-width: 100%;
    padding: 16px;
    border-radius: 5px;
}

table {
    width: 100%;
    overflow-x: hidden;
}

th {
    font-weight: bold;
    font-size: 16px;
    //background: #3f51b5;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.tab-actions-btns {
    display: flex;
    align-items: center;

    .tab-action-btn{
        padding: 0 16px 0 0;

        button {
            width: 120px;
        }
    }
}

.example-element-description-attribution {
    opacity: 0.5;
}