<div class="nav-bar" style="display: flex;">
    <div class="logo">
        <a href="#">TK</a>
    </div>
    <ul class="nav-links">
        <li class="nav-link">
            <a href="#">Home</a>
        </li>
        <li class="nav-link">
            <a href="#">About</a>
        </li>
        <li class="nav-link">
            <a href="#">Contact</a>
        </li>
        <li class="nav-link">
            <a href="#"><span class="nav-bar-span">Login</span></a>
        </li>
    </ul>
    <button class="btn-side-nav">
        Nav
    </button>
</div>
<!--<div class="nav" style="display: flex;">
    <div class="top-bar">
        <div class="logo">
            <a href="#">TK</a>
        </div>
        <button class="btn-side-nav">
            Nav
        </button>
    </div>
    <div class="side-nav">
        <ul class="side-nav-links">
            <li class="side-nav-link">
                <a href="#">
                    <span class="side-span">Dashboard</span>
                </a>
            </li>
            <li class="side-nav-link">
                <a href="#">
                    <span class="side-span">User</span>
                </a>
            </li>
            <li class="side-nav-link">
                <a href="#">
                    <span class="side-span">Patient</span>
                </a>
            </li>
        </ul>
    </div>
</div>-->

<nav>
    <ul>
        <li>
            <a href="#" class="profil">
                <img src="../../../assets/imgs/svg/Authentication-rafiki.svg" alt="">
                <span>Alpha TakeCare</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Medical records</span>
            </a>
        </li>
        <li>
            <a routerLink="patients" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Patients</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Consultations</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Prescriptions</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Appointment</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Emergency</span>
            </a>
        </li>
        <li>
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Service</span>
            </a>
        </li>
        <li class="logout">
            <a href="#" class="side-nav-link">
                <i class="bi bi-person"></i>
                <span class="nav-item">Logout</span>
            </a>
        </li>
    </ul>
</nav>

