<div class="bg-primary">
<h1>LOGO</h1>
</div>
<div class="row pt-4 align-items-center">
  <div class="col-1"></div>
  <div class="col-4 p-5 border border rounded-4">
    <p class="text-justify" style="margin-bottom: 25px;">
      Veuillez entrer vos identifiants pour vous connecter sur TakeCare
    </p>
    <form action="">
      <div class="form-group row">
        <div class="mb-4 col-12">
          <label for="login" class="mb-2">Login</label>
          <input type="text" id="login" class="form-control">
        </div>
        <div class="mb-4 col-12">
          <label for="login" class="mb-2">Mot de passe</label>
          <input type="password" id="login" class="form-control">
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary mb-3 btn-block">Se connecter</button><br>
      <a href="#">Vous n'avez pas de compte ? Inscrivez-vous</a>
    </form>
  </div>
  <div class="col-6 text-center">
    <img src="assets\imgs\svg\undraw_medicine_b1ol.png" alt="" width="600px">
  </div>
</div>
