<div class="section">
    <form *ngIf="patient" (ngSubmit)="onSubmit()" #patientForm="ngForm">
        <div class="row">
            <div class="col">
                <div class="card-panel mat-elevation-z8">
                    <div class="form-header">
                        <h1>{{title}}</h1>
                    </div>
                    <!-- patient_code -->
                    <div class="form-group patient_code_div">
                        <mat-form-field appearance="outline" class="patient_code">
                            <mat-label>patient code</mat-label>
                            <input matInput placeholder="patient code" required name="patient_code" id="patient_code"
                                pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="patient.patient_code"
                                #patient_code="ngModel">
                            <mat-error [hidden]="patient_code.valid">Enter patient code!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- first_name -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" required name="first_name" id="first_name"
                                pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="patient.first_name"
                                #first_name="ngModel">
                            <mat-error [hidden]="first_name.valid">Enter First Name!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- last_name -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" required name="last_name" id="last_name"
                                pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="patient.last_name" #last_name="ngModel">
                            <mat-error [hidden]="last_name.valid">Enter Last Name!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- address -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Address" required name="address" id="address"
                                pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="patient.address" #address="ngModel">
                            <mat-error [hidden]="address.valid">Enter Address!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- birthday -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Birthday</mat-label>
                            <input type="date" matInput placeholder="birthday" required name="birthday" id="birthday"
                                [(ngModel)]="patient.birthday" #birthday="ngModel">
                            <mat-error [hidden]="birthday.valid">Enter Birthday!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- age -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Age</mat-label>
                            <input type="number" matInput placeholder="Age" required name="Age" id="Age"
                                [(ngModel)]="patient.age" #age="ngModel">
                            <mat-error [hidden]="age.valid">Enter Age!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- gender -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select required name="gender" id="gender" [(ngModel)]="patient.gender"
                                #gender="ngModel">
                                <mat-option></mat-option>
                                <mat-option>Male</mat-option>
                                <mat-option>Femelle</mat-option>
                            </mat-select>
                            <mat-error [hidden]="gender.valid">Please select gender</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- assurence -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Assurence</mat-label>
                            <mat-select required name="assurance" id="assurence" [(ngModel)]="patient.assurance"
                                #assurance="ngModel">
                                <mat-option></mat-option>
                                <mat-option>Yes</mat-option>
                                <mat-option>No</mat-option>
                            </mat-select>
                            <mat-error [hidden]="assurance.valid">Please select assurence</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- phone -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" required name="phone" id="phone"
                                [(ngModel)]="patient.phone" #phone="ngModel">
                            <mat-error [hidden]="phone.valid">Enter Phone Number!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- picture -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Picture</mat-label>
                            <input matInput placeholder="Picture" required name="picture" id="picture"
                                pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="patient.picture" #picture="ngModel">
                            <mat-error [hidden]="picture.valid">Choose Picture!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- marital_status -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Marital Status</mat-label>
                            <mat-select required name="marital_status" id="marital_status"
                                [(ngModel)]="patient.marital_status" #marital_status="ngModel">
                                <mat-option></mat-option>
                                <mat-option>Maried</mat-option>
                                <mat-option>Single</mat-option>
                            </mat-select>
                            <mat-error [hidden]="marital_status.valid">Please select Marital Status!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- emergency_number -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Emergency Number</mat-label>
                            <input matInput placeholder="Phone" name="emergency_number" id="emergency_number"
                                [(ngModel)]="patient.emergency_number" #emergency_number="ngModel">
                            <mat-error [hidden]="emergency_number.valid">Enter Phone Number!</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- occupation -->
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Occupation</mat-label>
                            <input matInput placeholder="Occupation" name="occupation" id="occupation"
                                pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="patient.occupation" #occupation="ngModel">
                            <mat-error [hidden]="occupation.valid">Enter occupation</mat-error>
                        </mat-form-field>
                    </div>
                     <!-- password -->
                     <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" name="password" id="password"
                                [type]="hide ? 'password' : 'text'" [(ngModel)]="patient.password" #password="ngModel">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error [hidden]="password.valid">Enter Password!</mat-error>
                        </mat-form-field>
                    </div>


                    <!-- submit btn -->
                    <div class="divider"></div>
                    <div class="btn-section center">
                        <div>
                            <button type="reset" mat-raised-button color="warn" class="waves-effect waves-light btn">
                                Cancel
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button color="warn" class="waves-effect waves-light btn" *ngIf="!isAddForm">
                                Delete
                            </button>
                        </div>
                        <div>
                            <button type="submit" mat-raised-button color="primary" class="waves-effect waves-light btn"
                                [disabled]="!patientForm.form.valid">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>